.login-form {
  background-color: white;
  box-shadow: -5px 0 rgb(27, 184, 27);
  display: flex;
  flex-direction: column;
  margin: 125px auto;
  padding: 50px;
  width: 200px;
}

.login-form h1 {
  color: rgb(27, 184, 27);
  text-align: center;
}

.login-form .icon {
  color: rgb(7, 7, 75);
  font-size: 1.7em;
  margin: auto;
}

.login-form input {
  margin: 10px auto;
  width: 150px;
}

.login-form button {
  background-color: rgb(7, 7, 75);
  border: 1px solid rgb(7, 7, 75);
  border-radius: 6px;
  color: white;
  margin: 10px auto;
  width: 100px;
}

.login-form button:hover {
  background-color: rgb(27, 184, 27);
  border: 1px solid rgb(27, 184, 27);
  color: white;
}

.login-form a {
  color: rgb(7, 7, 75);
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
}
