.login-page {
  background-color: rgb(7, 7, 75);
  height: 625px;
  padding-top: 11px;
}

.footer {
  bottom: 0;
  color: white;
  margin: 20px auto;
  position: absolute;
  text-align: center;
  width: 100%;
}
